* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style: none;
}

.box {
    width: 100%;
}


/* 导航栏 */

.da {
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
}

.nav {
    height: 60px;
    border-bottom: 1px solid rgb(180, 177, 177);
    background-color: white;
}

.nav div {
    margin-left: 150px;
    width: 125px;
    height: 50px;
    background-color: yellow;
    background: url('../img/logonew.png');
    background-size: contain;
}

.nav ul {
    position: absolute;
    top: 20px;
    left: 350px;
}

.nav ul li {
    margin-left: 50px;
    float: left;
}

.nav ul li a {
    color: gray;
}

.nav ul li a:hover {
    color: #fb4d28;
}

.nav ul li button {
    width: 40px;
    border: 1px solid orangered;
    background-color: transparent;
    color: orangered;
}

.nav .zhuce {
    margin-left: 300px;
}

.nav .zhuce a {
    color: orangered;
}

.nav .zhuce img {
    vertical-align: middle;
}


/* 表单 */

.login {
    width: 700px;
    height: 600px;
    background-color: white;
    margin: 0 auto;
}

.login p {
    font-size: 16px;
    font-weight: 500;
    border-left: 4px solid #fe5341;
    padding-left: 15px;
    position: relative;
    top: 16px;
}

.login .father {
    width: 304px;
    height: 400px;
    margin: 100px auto;
}

.login .father div {
    margin-bottom: 20px;
}

.login .father input {
    width: 300px;
    height: 35px;
    background-color: #f7f7f7;
    border-radius: 8px;
    text-indent: 0.5em;
    font-size: 13px;
    outline: none;
    border: 1px solid rgb(228, 221, 221);
}

.father #btn {
    background-color: #fb4d28;
    color: white;
}

.father #code1,
.father #code2 {
    width: 180px;
}

.father .imgcode {
    width: 100px;
    vertical-align: middle;
}

.father #code {
    width: 100px;
    height: 35px;
    background-color: white;
    border: 1px solid #ccc;
    text-align: center;
    text-indent: 0;
    color: rgb(124, 112, 112);
}

.father span {
    color: wheat;
    font-size: 13px;
}


/* 页脚 */

.foot {
    width: 100%;
    height: 400px;
    background-color: #505050;
}

.foot {
    font-size: 15px;
    color: #fff;
    line-height: 30px;
    font-size: 12px;
}

.foot {
    position: relative;
}

.foot ul li {
    list-style: none;
    float: left;
}

.foot span {
    font-size: 20px;
}

.box1 {
    position: absolute;
    top: 10px;
    left: 80px;
    font-size: 12px;
}

.box2 {
    position: absolute;
    top: 20px;
    left: 200px;
    font-size: 12px;
    color: #ccc;
}

.box3 {
    position: absolute;
    top: 20px;
    left: 400px;
    font-size: 12px;
    color: #ccc;
}

.box4 {
    position: absolute;
    top: 20px;
    left: 600px;
    font-size: 12px;
    color: #ccc;
}

.box5 {
    position: absolute;
    top: 20px;
    left: 800px;
    font-size: 12px;
    color: #ccc;
}

.box6 {
    position: absolute;
    top: 20px;
    left: 1000px;
    font-size: 12px;
    color: #ccc;
}

.box7 {
    position: absolute;
    top: 350px;
    left: 700px;
    font-size: 12px;
    color: #ccc;
}